@import './colors.css';

.container {
    width: 1024px;
}

@media screen and (max-width: 1025px) {
    .container {
        width: 768px;
    }
}

@media screen and (max-width: 789px) {
    .container {
        width: 100%;
        margin: 0 10px;
    }
}